{% extends 'base.html.twig' %}

{% block title %}BackOffice
{% endblock %}

{% block body %}
    <section class=''>
        <h1>Dashboard</h1>
        <p>Welcome to your back office</p>
    </section>
{% endblock %}
